@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Objeto Virtual de Informaciòn</h1>
    <p class="lead">El grupo colaborativo creará un Objeto Virtual de Información OVI y lo publicará en la Internet a través de un repositorio colaborativo de GITHUB por medio del servicio Github Pages.</p>
    <p><a href="~/Home/Participantes" class="btn btn-primary btn-lg">Participantes &raquo;</a></p>
</div>
    <div class="row">
        <div class="col-md-4">
            <h2>Manual Identidad Institucional</h2>
            <div style="text-align:justify;">
                <p>
                    La imagen institucional de la Universidad Nacional
                    Abierta y a Distancia (UNAD)
                    es fruto del trabajo de la comunidad universitaria que se abrio paso en el contexto
                    educativo nacional gestando desde la creacion.
                </p>
                <p><a class="btn btn-default" href="~/Home/ManualII"> Ver mas &raquo;</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>E. de Ciencias Básicas, Tecnología e Ingeniería</h2>
                <div style="text-align:justify;">
                    <p>
                        La Escuela de Ciencias Básicas, Tecnología e Ingeniería,
                        tiene como misión contribuir a la educación para todos
                        con programas en Ciencia, Tecnología e Ingeniería en la
                        modalidad de educación a distancia
                    </p>
                    <p><a class="btn btn-default" <a href="https://academia.unad.edu.co/ecbti</a>"> Ver mas &raquo;</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2>Manual Identidad Institucional</h2>
                    <div style="text-align:justify;">
                        <p>
                            La imagen institucional de la Universidad Nacional Abierta y a Distancia (UNAD)
                            es fruto del trabajo de la comunidad universitaria que se abrio paso en el contexto
                            educativo nacional gestando desde la creacion.
                        </p>
                        <p><a class="btn btn-default" href="~/Content/Pdf/Manual_Identidad_Institucional.pdf</a>"> Ver mas &raquo;</a></p>
                    </div>
                </div>
            </div>
             <hr />
            <div style="text-align:center">
                <img src="~/Content/Imagenes/fondo1.jpg" width="1135" height="350" />
            </div>

