
@{
    ViewBag.Title = "IntroducionCSS3";
}

<h2><center>Introduccion a CSS3</center></h2>
<hr />
<h4>
    <div style="text-align:justify;">
        Junto con HTML y JavaScript, CSS es una tecnología usada por muchos sitios web para crear páginas visualmente atractivas, interfaces de usuario para aplicaciones web,
        y GUIs para muchas aplicaciones móviles (como Firefox OS).3

        CSS está diseñado principalmente para marcar la separación del contenido del documento y la forma de presentación de este, características tales como las capas o layouts, 
        los colores y las fuentes.4  Esta separación busca mejorar la accesibilidad del documento, proveer más flexibilidad y control en la especificación de características presentacionales, 
        permitir que varios documentos HTML compartan un mismo estilo usando una sola hoja de estilos separada en un archivo .css, y reducir la complejidad y la repetición de código en la
        estructura del documento.
    </div>
</h4>
<iframe width="1130" height="800" src="~/Content/Pdf/IntroducionCSS.pdf" frameborder="0" widhth="1130" class="external-iframe" style="color:aqua"></iframe>

