
@{
    ViewBag.Title = "IntroducionHTML";
}

<h2><center>Introduccion a HTML5</center></h2>
<hr />
<h4>
    <div style="text-align:justify;">
        HTML5 (HyperText Markup Language, versión 5) es la quinta revisión importante del lenguaje básico de la World Wide Web,
        HTML. HTML5 especifica dos variantes de sintaxis para HTML: una «clásica», HTML (text/html), conocida como HTML5, y una variante
        XHTML conocida como sintaxis XHTML5 que deberá servirse con sintaxis XML (application/xhtml+xml).1 2 Esta es la primera vez que
        HTML y XHTML se han desarrollado en paralelo. La versión definitiva de la quinta revisión del estándar se publicó en octubre de 2014.3
        Al no ser reconocido en viejas versiones de navegadores por sus nuevas etiquetas, se recomienda al usuario común actualizar su navegador
        a la versión más nueva, para poder disfrutar de todo el potencial que provee HTML5.
        </div>
</h4>
<iframe width="1130" height="800" src="~/Content/Pdf/IntroducionHTML.pdf" frameborder="0" widhth="1130" class="external-iframe" style="color:aqua"></iframe>
<h2><center>Diferencias HTML5 y Otras Versiones</center></h2>
<hr />
<iframe width="1130" height="800" src="~/Content/Pdf/DiferenciasHTML.pdf" frameborder="0" widhth="1130" class="external-iframe" style="color:aqua"></iframe>