
@{
    ViewBag.Title = "ManualII";
}

<h2><center>Manual Identidad Institucional</center></h2>
  <hr />
   <iframe width="1130" height="800" src="~/Content/Pdf/Manual_Identidad_Institucional.pdf" frameborder="0" widhth="1130" class="external-iframe" style="color:aqua"></iframe>
