
@{
    ViewBag.Title = "MaterialMultimedia";
}

<h2>MaterialMultimedia</h2>
<iframe width="1200" height="800" src="~/Content/Pdf/HTML 5 (1).pdf" frameborder="0" widhth="1200" class="external-iframe"></iframe>
