
@{
    ViewBag.Title = "Pârticipantes";
}
<center>
    <h3>Unidad 2: HTML5 y Unidad 3: CSS3 - Fase de Construcción e Implantación</h3>
       <br />
             <br />
             <br />
             <br />
             <br />
      <br />
    <h3>Presentado por:</h3>
        <h4> Miguel Angel Romero Lezama</h4>
            <h4>Código: 1023924016</h4>
                <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                 <br />
    <h3>Presentado a:</h3>
       <h4>Francisco Javier Hilarion Novoa</h4>
          <h4>PROGRAMACION DE SITIOS WEB 301127A_361</h4>
              <br />
                   <br />
                   <br />
                   <br />
                   <br />
                   <br />
            <br />
    <h4>Universidad Nacional Abierta y a Distancia - UNAD</4>
        <h4>Escuela de Ciencias Básicas, Tecnología e Ingeniería Unidad de Ciencias Básicas</4>
            <h4> 31 de Mayo de 2017</4>
                <br />
                <br />
                <br />
                <br />

</center>


